/* fonts */
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Unica+One&display=swap');

/*
font-family: 'NTR', sans-serif;
font-family: 'Unica One', cursive;
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.diffBtns {
    font-family: 'Unica One', cursive;
    appearance: none;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    height: 2.1em;
    justify-content: center;
    line-height: 1;
    padding: 32px;
    padding-top:12px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    border-style: none;
    margin-top: 15px;
}

#easyBtn {
    /* background-color: #f4e285;  */
    background-color: #d9ed92;
    margin-left: 15px;
}

#medBtn {
    background-color: #99d98c;
}

#hardBtn {
    background-color: #34a0a4;
}

#playerNames {
    margin-left: 22px;
    margin-top: 5px;
}

#player1Name, #player2Name {
    border: none;
    border-bottom: 1.5px solid black;
    margin-bottom: 10px;
    width: 275px;
}

#player1Title, #player2Title {
    font-size: 20px;
    font-family: 'Unica One', cursive;
}

#startBtn {
    background-color: #184E77;
    margin-left: 135px;
}

#startBtn:hover {
    background-color: #fff;
    color: #184E77;
}

#easyBtn:hover {
    background-color: #fff;
    color: #d9ed92;
}

#medBtn:hover {
    background-color: #fff;
    color: #99d98c;
}

#hardBtn:hover {
    background-color: #fff;
    color: #34a0a4;
}

#playerTurnIndicator {
    width: 400px;
    height: 50px;
    border: 1px solid black;
    border-radius: .375em;
    margin-right: 10px;
}

#endBtn {
    background-color: #1A759F;
    display: inline-block;
    margin-top: 0;
}

#endBtn:hover {
    background-color: #fff;
    color: #1A759F;
}

#div1 {
    padding-top: 50px;
    margin-left: 300px;
    display: flex;
    justify-content: center;
}


#gameRules {
    font-family: 'NTR', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    line-height: 25px;
    
}

.htp {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;

}

#right {
    position: relative;
}

#gameTitle {
    font-family: 'Unica One', cursive;
    font-size: 50px;
    text-align: center;
}

#left-side {
    clear: both;
    margin-left: 5px;
    
}

#right-side {
    /* float: right; */
    float: left;
    background-color: #b5e48c;
    border-style: none;
    border-radius: .5em;
    margin: 20px;
    margin-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
}

/* dot styling */

.dot {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
}

.harddot {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: inline-block;
}

/* Easy Game Board */  

#gameBoardEasy {
    width: 900px;
    text-align: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 30%;

}

span {
    display: inline-block;
    margin: 15px;
}

/* setting colors and row button position  */

#easyRow1 span {
    background-color: #76c893;
}

#easyRow1 button {
    margin-left: 370px;
}

#easyRow2 span {
    background-color: #34a0a4;
}

#easyRow2 button {
    margin-left: 235px;
}

#easyRow3 span {
    background-color: #1a759f;
}

#easyRow3 button {
    margin-left: 100px;
}

.boardRows {
    position: relative;
}

/* Medium Game Board */  

#gameBoardMedium {
    width: 1000px;
    text-align: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 25%;

}

span {
    display: inline-block;
    margin: 15px;
}

/* setting colors and row button position */

#mediumRow1 span {
    background-color: #76c893;
}

#mediumRow1 button {
    margin-left: 425px;
}

#mediumRow2 span {
    background-color: #34a0a4;
}

#mediumRow2 button {
    margin-left: 300px;
}

#mediumRow3 span {
    background-color: #1a759f;
}

#mediumRow3 button {
    margin-left: 175px;
}

#mediumRow4 span {
    background-color: #1e6091;
}

#mediumRow4 button {
    margin-left: 50px;
}

.boardRows {
    position: relative;
}

/* Hard Game Board */

#gameBoardHard {
    width: 1000px;
    text-align: center;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 25%;

}

/* span {
    display: inline-block;
    margin: 15px;
} */

/* setting colors and row button position */

#hardRow1 span {
    background-color: #76c893;
}


#hardRow1 button {
    margin-left: 360px;
}

#hardRow2 span {
    background-color: #34a0a4;
}

#hardRow2 button {
    margin-left: 270px;
}

#hardRow3 span {
    background-color: #1a759f;
}

#hardRow3 button {
    margin-left: 180px;
}

#hardRow4 span {
    background-color: #1e6091;
}

#hardRow4 button {
    margin-left: 90px;
}

#hardRow5 span {
    background-color: #184e77;
}

/* .boardRows {
    
} */


.rowBtns {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: absolute;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#moveIndicatorBox {
    width: 400px;
    height: 50px;
    background-color: #fff;
    border: 1.5px black solid;
}

#endTurnBtn {
    background-color: #34A0A4;
}